<mat-toolbar color="secondary">
  <mat-toolbar-row>
      <span style="white-space: initial">Lista de Trabalho -> {{nomeLista}}</span>
      <span class="nav-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="div-container">
  <!-- <div [formGroup]="formGroup">

    <mat-form-field class="form-campo">
      <input matInput [ngModel]="filtro" [ngModelOptions]="{standalone: true}"
        (keyup)="aoDigitarFiltroTabela($event.target.value)" placeholder="Filtrar pelo nome...">
    </mat-form-field>

  </div>
  <div class="linha-botoes">
    <button mat-raised-button color="primary" [disabled]="(filtro.length <= tamanhoMinimoTextoFiltro)"
      (click)="aplicarFiltroTabela()">Filtrar</button>
    <button mat-raised-button color="default" *ngIf="(filtro.length > tamanhoMinimoTextoFiltro)"
      (click)="limparFiltroTabela()">
      Limpar Filtro
    </button>
  </div> -->

  <!-- Tabela -->


  <table style="margin-top:20px;" mat-table [dataSource]="dataSource" class="tabela" matSort matSortActive="created"
    matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="imoveis">
      <th mat-header-cell *matHeaderCellDef>Imóveis</th>
      <td mat-cell *matCellDef="let item">
        <a routerLink="/lista-de-trabalho-imoveis-formulario/{{item.imovel.id}}/{{item.lista.id}}">{{item.imovel.logradouro}} -
          {{item.imovel.numero}}</a></td>
    </ng-container>

    <ng-container matColumnDef="upload">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button *ngIf="(item.status === 'preenchido' ? true : false)" (click)="enviar(item)">
        <mat-icon class="botoes-status enviar" >cloud_upload</mat-icon>
      </button>
    <button mat-icon-button *ngIf="(item.status === 'enviado' ? true : false)" disabled="true">
        <mat-icon  class="botoes-status" >cloud_done</mat-icon> 
      </button> </td>
    </ng-container>

    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item"><div    class="botoes-status"> <mat-icon >cloud_done</mat-icon> <mat-icon *ngIf="item.reconhecimento.conteudo">done</mat-icon></div> </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let item; columns: colunasTabela;"></tr>
  </table>
  <div style="background-color: white" class="loading-shade" *ngIf="carregandoResultados">
    <mat-spinner></mat-spinner>
  </div>
  <!-- <div style="background-color: white; padding: 20px" *ngIf="!carregandoResultados && quantidadeRegistros == 0">
    Nenhum registro carregado.
  </div> -->
  <mat-paginator [length]="quantidadeRegistros" [pageSize]="5" [pageSizeOptions]="[5, 10, 30]"></mat-paginator>
  <div class="linha-botoes">
   
      <button mat-raised-button color="light"
      routerLink="/listas-de-trabalho">Voltar</button>
  </div>

</div>