<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <span>Lista de Trabalho</span>
        <span class="nav-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)" mat-align-tabs="center">
    <mat-tab label="Local" >
        <ng-template matTabContent>
            <app-lista-de-trabalho-local></app-lista-de-trabalho-local>
        </ng-template>
        
    </mat-tab>
    <mat-tab label="Nuvem">
        <div style="margin : 15px">
            <app-lista-de-trabalho-nuvem></app-lista-de-trabalho-nuvem>
        </div>
    </mat-tab>
    
  </mat-tab-group>